.headerBg {
    background-color: $gray-700;
    padding: .1rem;
}

.colPaddingOne{
    padding: .1em;
}

.companySubtext {
    font-size: .7rem;
    color: $gray-200;
    display: inline-block;
    margin-bottom: .1rem;
}

#custom-search-input {
    border-radius: .6rem;
    background-color: $gray-100;
}

#custom-search-input .input-group {
    margin-left: .5em;
}

#custom-search-input input {
    border: 0;
   
    box-shadow: none;
    background-color: $gray-100;
    padding: .1rem;
    margin: 0;
}

#custom-search-input button {
    margin: .2rem 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: $gray-700;
    padding: 0 .2rem 0 .3rem;
    margin-top: .6em;
    margin-left: .2em;
    border-left: solid .2rem $gray-100;
}

#custom-search-input button:hover {
    border: 0;
    color: $orange;
    box-shadow: none;
    border-left: solid .2rem $gray-100;
}

#custom-search-input .glyphicon-search {
    font-size: .9rem;
}

