<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - web</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark headerBg">
        <div class="col colPaddingOne flex-grow-0">
            <object data="images/TekOnsite_logo.svg" type="image/svg+xml" style="height: 40px;"></object>
        </div>
        <div class="col colPaddingOne">
            <span class="companySubtext">A Sample Group Company</span>
        </div>
        <div class="col-5 my-auto colPaddingOne">
            <h6 class="ml-2 text-light">Manage Technicians and Work Orders</h6>
        </div>
        <div class="col colPaddingOne">
            <form class="form-inline">

                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="m-0 p-0 form-control" placeholder="Search" />
                        <span class="border-0 bg-transparent pr-1 pl-1 pt-0 pb-0">
                            <button type="button" class="glyphicon-search">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

            </form>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="col-4">
        <partial name="_sideBar"/>
    </div>
    <main role="main" class="col-8">
        @RenderBody()
    </main>
</div>

@*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>